// 侧边栏背景，子菜单背景
$clr-main-bg: #324157;
$clr-submenu-bg: #1F2D3D;

// 侧边栏字体颜色，被点击后字体颜色
$clr-font:#BFCBD9;
$clr-clicked-font:#20A0FF;

// 侧边栏中menu被hover时显示的颜色
$clr-menu-hover-bg:#48576A;

$clr-border: #d7d7d7;

$clr-black: #000000;
$clr-red: #ff443b;
$clr-white: #fff;
$clr-gray: #BCBCBC;
$clr-label: #666666;
